
#logo {
  width: 20%;
  height: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

#movie-search-container, .logo-container {
  text-align: center;
}

.movie-details-text {
  width: 50%;
  position: relative;
  left: 25%;
}


